<!DOCTYPE html>
<html ng-app="phonecatApp"><!-- a[ng]larjs -->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl"> <!-- phonecatApp.controller('PhoneListCtrl', ...) -->

<div class="container">

<h1>AngularJS Practice</h1>

<form action="#">
  <input type="text" ng-model="name"/><!-- named "name" as model -->
</form>

<p>Hello world, {{name}}</p><!-- display model "name" -->
<p> 5 times 3 is {{ 5 * 3 }}</p><!-- javascript notation can be used in {{ }} -->
<p>Nothing here {{ 'yet' + '!' }}</p>

<p>Today: {{ date }}</p>


<div class="col-md-2">
    Search: <input ng-model="query">
</div>

<div class="col-md-10">
  <p>Filtered results ({{query}})</p>
  <p>Total number of phones: {{ phones.length }}</p>
  <ul class="phones">
    <li ng-repeat="phone in phones | filter:query"> <!-- loop phones as phone -->
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
</div>

<table>
  <tr><th>row number</th></tr>
  <tr ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7]">
    <td>{{ num }}</td>
  </tr>
</table>

</div>

</body>
</html>
